<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <% let games = data.games; %>
            <% for (let index in games) { %>
                <% let gameData = games[index]; %>
                <div class="card mb-3 game-lobby-card" id="<%= gameData.id; %>">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title"><%= gameData.name; %></h5>
                            <div><%= gameData.players; %> / <%= gameData.maxPlayers; %>
                                player<%= gameData.maxPlayers === 1 ? '' : 's'; %></div>
                        </div>
                        <p class="card-text">Click to join the game</p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
